<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict home price</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      
    <input type="text" name="AssessedValue" placeholder="AssessedValue" required="required" />
    <input type="text" name="SqFtTotal" placeholder="SqFtTotal" required="required" />
    <input type="text" name="Bath" placeholder="Bath" required="required" />
		<input type="text" name="Bed" placeholder="Bed" required="required" />
    <label>Basement_WalkoutWalkup</label>
    <SELECT type="text" name="Basement_WalkoutWalkUp" placeholder="Basement_WalkoutWalkUp" required="required">
    	<option value="True">Yes</option>
    	<option value="false">No</option>
    </SELECT>
    <label>Basement_Full</label>
    <SELECT type="text" name="Basement_Full" placeholder="Basement_Full" required="required" >
    	<option value="True">Yes</option>
    	<option value="false">No</option>
    </SELECT>
    <input type="text" name="YrBlt" placeholder="YrBlt" required="required" />
    <input type="text" name="Community" placeholder="Community" required="required" />
    <input type="text" name="city" placeholder="Calgary" required="required" value="Calgary" disabled="True" />
      

    <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
